.search-hotel-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 400px;

	&__inner {
		width: 48%;
	}
	&__title {
		font-family: "ptsans_bold", serif;
		font-size: 30px;
		line-height: 36px;
		text-align: center;
		text-transform: uppercase;
	}
	&__subtitle {
		font-size: 22px;
		line-height: 26px;
		text-align: center;
		margin: 30px 0 56px 0;
		white-space: pre-line;
	}
	&__button {
		padding: 15px 0;
		background: #756257;
		border-radius: 10px;
		text-align: center;
		font-family: "ptsans_bold", serif;
		font-size: 20px;
		line-height: 36px;
		color: #fff;
		cursor: pointer;
		text-transform: uppercase;
	}
}
