@font-face {
  font-family: "ptsans_regular";
  src: url("ptsans-400.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ptsans_bold";
  src: url("ptsans-700.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}